```{=html}
<% items.forEach((item, index) => { %>
  <% const year = new Date(item.date).getFullYear(); %>
  <% if (index === 0 || new Date(items[index - 1].date).getFullYear() !== year) { %>
    <h2><%= year %></h2>
    <ol class="list">
  <% } %>
  <li <%=metadataAttrs(item) %> class="listing-slides">
    <span class="listing-date"><%= item.date %></span>
    <a href="<%- item.path %>">
      <span class="listing-title"><%= item.title %></span>&nbsp;,
    </a>
    
    <% if (item.subtitle) { %>
      (<span class="listing-subtitle"><%= item.subtitle %></span>)&nbsp;, 
    <% } %>
    
    <% if (item.details) { %>
      <span class="listing-details"><%= item.details %></span>&nbsp;,
    <% } %>
    
    <span class="listing-address important"><%= item.address %></span>&nbsp;
  </li>
  <% if (index === items.length - 1 || new Date(items[index + 1].date).getFullYear() !== year) { %>
    </ol>
  <% } %>
<% }); %>

```